<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>POSTMAN</title>

    <!-- Bootstrap Core CSS -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        [v-cloak] {
            display: none;
        }

        .nav-active-my {
            color: #FFFFFF;
            background-color: #428bca;
        }

        .ghost {
          opacity: .5;
          background: #C8EBFB;
        }
    </style>
</head>

<body>
    <div id="wrapper" v-cloak>
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">POSTMAN</a>
                    <!-- 如果需要加内容可以参考http://getbootstrap.com/components/#navbar -->
                </div>
                <ul class="nav navbar-nav navbar-right" v-if="!!username">
                  <!-- <li><a href="#">Link</a></li> -->
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#" @click="logout">Logout</a></li>
                      <!-- <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li> -->
                    </ul>
                  </li>
                </ul>
            </div>
        </nav>

        <!-- 登录页面 -->
        <div class="container" v-if="!username">
            <div class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">UserName</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="username" placeholder="UserName">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Remember me
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="btn btn-default" @click="login">Login</button>
                </div>
              </div>
            </div>
        </div>

        <!-- postman页面 -->
        <div class="container-fluid" style="padding-left: 0" v-else>
            <!-- left tree -->
            <div class="col-md-3" style="overflow:auto; ">
                <div class="btn-group">
                    <button type="button" class="btn btn-default glyphicon glyphicon-folder-open" data-toggle="tooltip" title="Add folder" :class="{disabled: !isFolder}" @click="appendFolder"></button>
                    <button type="button" class="btn btn-default glyphicon glyphicon-file" data-toggle="tooltip" title="Add file" :class="{disabled: !isFolder}" @click="appendFile"></button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default glyphicon glyphicon-duplicate" data-toggle="tooltip" title="Duplicate" :class="{disabled: !current}" @click="duplicateNode"></button>
                    <button type="button" class="btn btn-default glyphicon glyphicon-trash" data-toggle="tooltip" title="Delete" :class="{disabled: !current}" @click="deleteNode"></button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default glyphicon glyphicon-floppy-disk" data-toggle="tooltip" title="Save" @click="save"></button>
                    <button type="button" class="btn btn-default glyphicon glyphicon-save" data-toggle="tooltip" title="Export" @click="exportToJson"></button>
                </div>
                <br><br>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <br>
                <draggable element="ul" v-model="data.item" class="nav" :options="dragOptions"> 
                    <item v-for="model in data.item" :model="model" :current="current"></item>
                </draggable>
            </div>

            <div id="page-wrapper" class="col-md-9" v-if="current!=null">
                <!-- name -->
                <div class="form-group">
                    <div class="input-group">
                        <!-- <div class="input-group-btn">
                            <button class="btn btn-default" style="width: 100px">Name</button>
                        </div> -->
                        <span class="input-group-addon">Name</span>
                        <input class="form-control" v-if="current!=null" v-model="current.name">
                    </div>
                    <!-- <br> -->
                    <!-- <input class="form-control" v-model="current.description"> -->
                </div>

                <!-- url -->
                <div v-if="current.item==null">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 100px">{{current.request.method}} <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a @click="current.request.method='GET';current.request.method=='GET'&&showBody('header');" href="#">GET</a></li>
                                  <li><a @click="current.request.method='POST';" href="#">POST</a></li>
                                  <li><a @click="current.request.method='PUT';" href="#">PUT</a></li>
                                  <li><a @click="current.request.method='DELETE';" href="#">DELETE</a></li>
                                </ul>
                            </div>
                            <input class="form-control" v-model="current.request.url">
                            <div class="input-group-btn">
                                <!-- <button type="button" class="btn btn-default" :class="{active: data.current.showParams}" @click="showParams()">Params</button> -->
                                <button type="button" class="btn btn-primary" @click="send()">Send</button>
                                <a type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                  <li><a href="#">Send</a></li>
                                  <li><a href="#">Send and download</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#">Save</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                        </div>
                    </div>

                    <!-- params -->
                    <div v-if="current.showParams==true">
                        <div class="form-group" v-for="(p, index) in current.params">
                            <div class="row">
                                <div class="col-md-4">
                                    <input class="form-control" placeholder="param name" v-model="p.name">
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control" placeholder="param value" v-model="p.value">
                                </div>
                                <a class="btn glyphicon glyphicon-remove"></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <input class="form-control" placeholder="param name">
                                </div>
                                <div class="col-md-4">
                                    <input @blur="addParam()" class="form-control" placeholder="param value">
                                </div>
                                <a class="btn glyphicon glyphicon-remove"></a>
                            </div>
                        </div>
                    </div>

                    <!-- bodyTabs -->
                    <div class="form-group">
                        <ul class="nav nav-tabs" role="tablist" id="bodyTabs">
                          <li @click="showBody('header');" :class="{active: current.showBody==null||current.showBody=='header'}"><a href="#header">Headers</a></li>
                          <li @click="current.request.method!='GET'&&showBody('body');" :class="{active: current.showBody=='body', disabled: current.request.method=='GET'}"><a href="#body">Body</a></li>
                          <li @click="showBody('tests');" :class="{active: current.showBody=='tests'}"><a href="#tests">Tests</a></li>
                        </ul>
                    </div>

                    <!-- headers -->
                    <div v-if="current.showBody==null||current.showBody=='header'">
                        <div class="form-group" v-for="(h, index) in current.request.header">
                             <div class="row">
                                <div class="col-md-4">
                                    <input role="header name" class="form-control" placeholder="header name" v-model="h.key">
                                </div>
                                <div class="col-md-4">
                                    <input role="header value" class="form-control" placeholder="header value" v-model="h.value">
                                </div>
                                <a @click="delHeader(index)" class="btn glyphicon glyphicon-remove"></a>
                            </div>
                        </div>
                        <div class="form-group">
                             <div class="row">
                                <div class="col-md-4">
                                    <input id="headerName" @focus="addHeader('header name')" class="form-control" placeholder="header name">
                                </div>
                                <div class="col-md-4">
                                    <input id="headerValue" @focus="addHeader('header value')" class="form-control" placeholder="header value">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- body -->
                    <div class="form-group" v-if="current.showBody=='body'">
                        <textarea class="form-control" rows=8 v-model="current.request.body.raw"></textarea>
                    </div>

                    <!-- tests -->
                    <div class="form-group" v-if="current.showBody=='tests'">
                        <textarea class="form-control" rows=8 v-model="current.tests"></textarea>
                    </div>


                    <!-- response -->
                    <div class="panel panel-default" v-if="current.response!=null&&current.response[0]!=null">
                        <div class="panel-heading">
                            <span>Response Status: </span>
                            <span class="label label-default"> {{current.response[0].code + ' ' + current.response[0].status}} </span>
                            <span> Time: </span>
                            <span class="label label-default"> {{current.response[0].responseTime}} ms </span>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <ul class="nav nav-tabs" role="tablist">
                                  <li @click="showResponseBody('header');" :class="{active: current.showResponseBody==null||current.showResponseBody=='header'}"><a href="#header">Headers</a></li>
                                  <li @click="showResponseBody('body');" :class="{active: current.showResponseBody=='body'}"><a href="#body">Body</a></li>
                                  <li @click="showResponseBody('tests');" :class="{active: current.showResponseBody=='tests'}"><a href="#tests">Tests</a></li>
                                </ul>
                            </div>
                            <!-- response header -->
                            <div v-if="current.showResponseBody==null||current.showResponseBody=='header'">
                                <div class="form-group" v-for="(h, index) in current.response[0].header">
                                    <div class="input-group">
                                        <span class="label label-default">{{h.key}}</span>
                                        <span> > {{h.value}}</span>
                                    </div>
                                </div>
                            </div>

                            <!-- response body -->
                            <div class="form-group" v-if="current.showResponseBody=='body'">
                                <textarea class="form-control" rows=8 v-model="current.response[0].body" readonly></textarea>
                            </div>

                            <!-- response tests -->
                            <div class="form-group" v-if="current.showResponseBody=='tests'">
                                <textarea class="form-control" rows=8 v-model="current.tests"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /# -->
        </div>
    </div> <!-- div wrapper -->
    <!-- /#wrapper -->

    <script src="./vendor/vuejs/vue.js"></script>

    <!-- jQuery -->
    <script src="./vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="Sortable.js"></script>
    <script src="vuedraggable.js"></script>

    <script type="text/x-template" id="item-template">
        <li>
            <a @click="selectNode" @dblclick="toggleFolder" :class="{'nav-active-my': model==current}" v-bind:style="styleObject">
                <i @click="toggleFolder" class="glyphicon" :class="{'glyphicon-folder-open': isFolder&&model.open, 'glyphicon-folder-close': isFolder&&!model.open,'glyphicon-file': !isFolder}" :style="{cursor: isFolder?'pointer':'default'}"></i>
                <span>{{model.name}}</span>
            </a>
            <draggable v-model="model.item" element="ul" style="padding-left:1em" class="nav" v-show="model.open" v-if="isFolder" :options="dragOptions"> 
                <item v-for="model in model.item" :model="model" :current="current"></item>
            </draggable>
        </li>
    </script>

    <script type="text/javascript">
        // vue.js相关
        var data = {
            // current: null,
            item: [{
                name: 'xpush',
                description: "this is xpush dir",
                // open: true,
                item: [{
                    "name": "cdn/_prefetch sign",
                    "event": [
                        {
                            "listen": "test",
                            "script": {
                                "type": "text/javascript",
                                "exec": [
                                    "var jsonData = JSON.parse(responseBody);",
                                    "postman.setGlobalVariable(\"sign\", jsonData.authorization);",
                                    "",
                                    "tests[\"Body matches authorization\"] ",
                                    "= responseBody.has(\"authorization\");"
                                ]
                            }
                        }
                    ],
                    "request": {
                        "url": "http://testlfs.powerapp.io/push/v1/stub/aksk/sign",
                        "method": "POST",
                        "header": [
                            {
                                "key": "Content-Type",
                                "value": "application/json",
                                "description": ""
                            }
                        ],
                        "body": {
                            "mode": "raw",
                            "raw": "{\r\n\"ak\":\"ak\",\r\n\"sk\":\"sk\",\r\n\"method\":\"POST\",\r\n\"url\":\"http://testlfs.powerapp.io/lfs/v3/cdn/_prefetch\"\r\n}"
                        },
                        "description": "batch send auth"
                    },
                    "response": []
                }, {
                    name: 'POST /push/_single_send',
                    request: {
                        method: 'POST',
                        url: 'https://{{baseurl}}/push/_single_send',
                        authorization: 'this is authorization',
                        body: 'this is body',
                    },
                    response: {},
                    tests: 'this is tests'
                }, {
                    name: 'query status',
                    item: [{
                        name: 'GET /push/device_status',
                        request: {
                            method: 'POST',
                            url: 'https://{{baseurl}}/push/device_status',
                            authorization: 'this is authorization',
                            body: 'this is body',
                        },
                        response: {},
                        tests: 'this is tests'
                    }, {
                        name: 'GET /push/message_status',
                        request: {
                            method: 'POST',
                            url: 'https://{{baseurl}}/push/message_status',
                            authorization: 'this is authorization',
                            body: 'this is body',
                        },
                        response: {},
                        tests: 'this is tests'
                    }]
                }]
            }, {
                name: 'lfs',
                // open: false,
                item: [{
                    name: 'POST /lfs/_allot_pusher',
                    request: {
                        method: 'POST',
                        url: 'https://{{baseurl}}/lfs/_allot_pusher',
                        authorization: 'this is authorization',
                        body: 'this is body',
                    },
                    response: {},
                    tests: 'this is tests'
                }, {
                    name: 'POST /lfs/_single_send',
                    request: {
                        method: 'POST',
                        url: 'https://{{baseurl}}/lfs/_single_send',
                        authorization: 'this is authorization',
                        body: 'this is body',
                    },
                    response: {},
                    tests: 'this is tests'
                }, {
                    name: 'query status',
                    // open: false,
                    item: [{
                        name: 'GET /lfs/device_status',
                        request: {
                            method: 'POST',
                            url: 'https://{{baseurl}}/lfs/device_status',
                            authorization: 'this is authorization',
                            body: 'this is body',
                        },
                        response: {},
                        tests: 'this is tests'
                    }, {
                        name: 'GET /lfs/message_status',
                        request: {
                            method: 'POST',
                            url: 'https://{{baseurl}}/lfs/message_status',
                            authorization: 'this is authorization',
                            body: 'this is body',
                        },
                        response: {},
                        tests: 'this is tests'
                    }]
                }]
            }]
        };

        $(function() {
            vm = null

            Vue.component('item', {
                template: '#item-template',
                props: {
                    model: Object,
                    current: Object
                },
                computed: {
                    isFolder: function() {
                        return !!this.model.item
                    },
                    styleObject: function() {
                        obj = {
                            'overflow': 'hidden',
                            'text-overflow': 'ellipsis',
                            'white-space': 'nowrap'
                        }
                        if (this.model == this.current) {
                            obj['color'] = '#FFFFFF'
                            obj['background-color'] = '#428bca'
                        }
                        return obj
                    },
                    // vuedraggable
                    dragOptions: function() {
                      return  {
                        animation: 0,
                        group: 'description',
                        disabled: false,
                        ghostClass: 'ghost'
                      };
                    }
                },
                methods: {
                    toggleFolder: function() {
                        console.log('toggleFolder: ', this.model)
                        // data.current = this.model;
                        if (this.isFolder) {
                            // this.model.open = !!!this.model.open;
                            vm.$set(this.model, 'open', !!!this.model.open);
                            // this.model.open = !!!this.model.open
                            // data.current = null;
                        } else {
                        }
                    },
                    selectNode: function() {
                        console.log('selectNode: ', this.model)
                        vm.current = this.model;
                        // vm.$set(vm.current, '', this.model)
                    },
                    duplicateNode () {
                        // 深拷贝一个新节点
                        var newNode = JSON.parse(JSON.stringify(this.model))
                        newNode.name += ' COPY'
                        // 获取到当前节点所在的array
                        var array = getArray(this.model, vm.data.item)
                        if (array) {
                            array.push(newNode)
                        }
                    }
                }
            });

            // 获取到包含node的array
            function getArray(node, nodes) {
                if (nodes == null || nodes == []) {
                    return null
                }
                // 如果在nodes中找到
                if (nodes.find(function(element) {
                    return element == node
                })) {
                    return nodes
                }
                for (var i = nodes.length - 1; i >= 0; i--) {
                    var res = getArray(node, nodes[i].item)
                    if (res) {
                        return res
                    }
                }

                return null
            }

            vm = new Vue({
                el: '#wrapper',
                data: {
                    username: '',
                    current: null,
                    data: {item: []}
                },
                computed: {
                    // vuedraggable
                    dragOptions: function() {
                      return  {
                        animation: 0,
                        group: 'description',
                        disabled: false,
                        ghostClass: 'ghost'
                      };
                    },
                    isFolder: function() {
                        return !this.current||!!this.current.item
                    },
                },
                watch: {
                    data: {
                        handler: function(val, oldval) {
                            console.log('new data: ')
                            // TODO data有变化
                        },
                        deep: true
                    }
                },
                methods: {
                    // 判断是否已登录
                    session () {
                        $.getJSON('/api/session', function(data) {
                            console.log('/api/session username: ' + data.username);
                            if (data.username) {
                                vm.username = data.username;
                                vm.data = data.collection;
                                vm.$nextTick(function() {
                                    $('[data-toggle="tooltip"]').tooltip({container: 'body'});
                                });
                            }
                        });
                    },
                    login () {
                        console.log('login: ');
                        var username = $('#username').val();
                        var password = $('#password').val();
                        $.post('/api/user/login', {username, password}, function(data) {
                            if (!data.ret) {
                                vm.username = username;
                                vm.session();
                            }
                            else {
                                alert('用户名或密码不正确');
                            }
                        });
                    },
                    logout () {
                        console.log('logout: ');
                        $.post('/api/user/logout', {}, function(data) {
                            if (!data.ret) {
                                vm.username = '';
                            }
                            else {
                                alert('登出失败');
                            }
                        });
                    },
                    getCurrent () {
                        return this.current
                    },
                    // remove: function() {},
                    showParams: function() {
                        console.log('showParams: ', this.current.showParams)
                        vm.$set(this.current, 'showParams', !!!this.current.showParams);
                    },
                    showBody: function(part) {
                        // part是"header"、"body"或"tests"
                        vm.$set(this.current, 'showBody', part);
                    },
                    addHeader: function(part) {
                        // 增加一个header
                        if (this.current.request.header == null) vm.$set(this.current.request, 'header', []);
                        this.current.request.header = this.current.request.header.concat([{key: '', value: ''}]);
                        // 聚焦到上一个part:key或者value
                        vm.$nextTick(function() {
                            if (part == 'header name') {
                                $('input[role="header name"]:last')[0].focus()
                            } else {
                                $('input[role="header value"]:last')[0].focus()
                            }
                        });
                    },
                    delHeader: function(index) {
                        console.log('delHeader(): ' + index);
                        this.current.request.header.splice(index, 1);
                    },
                    
                    appendFolder () {
                        if (!this.current) {
                            this.current = vm.data;
                        }
                        console.log(JSON.stringify(this.current))
                        this.current.item.push({name: 'NEW FOLDER', item: []})
                        this.current.open = true
                    },
                    appendFile () {
                        if (!this.current) {
                            this.current = vm.data;
                        }
                        const EMPTY_ITEM = {
                          "name": "NEW FILE",
                          "event": [
                            {
                              "listen": "test",
                              "script": {
                                "type": "text/javascript",
                                "exec": [
                                  "var jsonData = JSON.parse(responseBody);",
                                  "postman.setGlobalVariable(\"sign\", jsonData.authorization);",
                                  "",
                                  "tests[\"Body matches authorization\"] ",
                                  "= responseBody.has(\"authorization\");"
                                ]
                              }
                            }
                          ],
                          "request": {
                            "url": "http://testlfs.powerapp.io/push/v1/stub/aksk/sign",
                            "method": "POST",
                            "header": [
                              {
                                "key": "Content-Type",
                                "value": "application/json",
                                "description": ""
                              }
                            ],
                            "body": {
                              "mode": "raw",
                              "raw": "{\r\n\"ak\":\"ak\",\r\n\"sk\":\"sk\",\r\n\"method\":\"POST\",\r\n\"url\":\"http://testlfs.powerapp.io/lfs/v3/cdn/_prefetch\"\r\n}"
                            },
                            "description": "batch send auth"
                          }
                        };
                        this.current.item.push(EMPTY_ITEM);
                        this.current.open = true
                    },
                    deleteNode () {
                        if (!this.current) {
                            return
                        }
                        if (!confirm("确定删除？")) {
                            return
                        }
                        var array = getArray(this.current, this.data.item)
                        console.log('array: ' + JSON.stringify(array))
                        if (array) {
                            array.splice(array.indexOf(this.current), 1)
                        }
                        this.current = null
                    },
                    duplicateNode () {
                        if (!this.current) {
                            return
                        }
                        // 深拷贝一个新节点
                        var newNode = JSON.parse(JSON.stringify(this.current))
                        newNode.name += ' COPY'
                        // 获取到当前节点所在的array
                        var array = getArray(this.current, this.data.item)
                        if (array) {
                            array.splice(array.indexOf(this.current)+1, 0, newNode)
                        }
                    },
                    save () {
                        // data保存到服务端
                        $.ajax({
                            url: '/api/collection/saveall',
                            type: "POST",
                            data: JSON.stringify(this.data),
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            success: function(data){
                                console.log('/api/saveall res: ', data);
                            }
                        });
                    },
                    exportToJson () {
                        // TODO 导出
                    },

                    // response
                    showResponseBody: function(part) {
                        // part是"header"、"body"或"tests"
                        vm.$set(this.current, 'showResponseBody', part);
                    },

                    send: function() {
                        console.log('/api/collection/run: ', JSON.stringify(this.current));
                        $.ajax({
                            url: '/api/collection/run',
                            type: "POST",
                            data: JSON.stringify(this.current),
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            success: function(data){
                                console.log('data: ', data);
                                vm.current.response = [data];
                            }
                        });
                    }
                }
            });

            vm.session();
        });
    </script>

</body>

</html>
